/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#confirmText {
	-fx-font-size: 13pt;
     -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #000;
    -fx-opacity: 0.8;
}

.cabeceraClass {
	-fx-font-size: 8pt;
    -fx-font-family: "Arial";
    -fx-text-fill: #000;
    -fx-opacity: 0.9;
}

.table-row-cell {
    -fx-cell-size: 12px;
    -fx-font-size:  7;
    -fx-table-cell-border-color: #ccc;
}

.table-row-cell:odd{
    -fx-table-cell-border-color: #ccc;
}

.table-row-cell:selected {
    -fx-table-cell-border-color: #ccc;
}

.table-row-cell:focus{
	-fx-table-cell-border-color: #ccc;
}

.table-row-cell:filled:selected { 
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ; 
  -fx-background-insets: 0, 0 0 1 0 ;
  /*  -fx-table-cell-border-color: derive(-fx-color, 5%);*/
  -fx-table-cell-border-color: #ccc;
}
.table-row-cell:odd:filled:selected {
  -fx-background: -fx-control-inner-background-alt ;
}

/* 
.highlightedRow {
    -fx-background-color: gray;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}*/

.table-view {
    -fx-text-fill: red;
    -fx-font-size: 8;
    -fx-font-family: "Arial";
}


.labelReport {
	-fx-color: white;
	-fx-font-family: Arial;
	-fx-text-fill: #333;
}

.text-field{
	-fx-font-size: 6pt;
}

.textFieldReport {
	-fx-color: white;
	-fx-pref-width: 10; 
    -fx-min-width: 300;
     -fx-max-width: 600;
    -fx-min-height: 20;
    -fx-max-height: 80;
    -fx-background-color: #ccc;
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
     -fx-text-fill: #fff;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    /*-fx-text-fill: #d8d8d8;*/ 
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}


.button:hover {
    -fx-background-color: #3a3a3a;
    -fx-text-fill: #fff;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}