<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/controlenvios?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">controlenvio</property>
    <property name="hibernate.connection.password">controlenvio</property>
    <mapping resource="mx/trillas/ControlEnvio/persistence/pojos/Guia.hbm.xml"/>
    <mapping resource="mx/trillas/ControlEnvio/persistence/pojos/Usuario.hbm.xml"/>
    <mapping resource="mx/trillas/ControlEnvio/persistence/pojos/Mensajeria.hbm.xml"/>
    <mapping resource="mx/trillas/ControlEnvio/persistence/pojos/Tiposusuario.hbm.xml"/>
    <mapping resource="mx/trillas/ControlEnvio/persistence/pojos/Origen.hbm.xml"/>
    <mapping resource="mx/trillas/ControlEnvio/persistence/pojos/Departamento.hbm.xml"/>
    <mapping resource="mx/trillas/ControlEnvio/persistence/pojos/Destinatario.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
